*.la
*.lo
*.o
*~
./Makefile
.deps/
.libs/
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
doc/Makefile
doc/html/book1.html
doc/html/uclmmbase-hmac.html
doc/html/uclmmbase-md5.html
doc/html/uclmmbase-net-udp.html
doc/html/uclmmbase-rtp.html
doc/html/uclmmbase.html
examples/Makefile
examples/rtp/Makefile
examples/rtp/rtpdemo
examples/sap/Makefile
examples/sap/sapdemo
examples/sdp/Makefile
examples/sdp/sdpdemo
install-sh
lib*.a
lib*.so
libtool
ltmain.sh
m4/
missing
src/Makefile
src/uclconf.h
src/version.h
tests/test-libcommon
